/* Tablets (768px - 1024px) */
body {
    overflow-x: hidden;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
  
    .element {
        width: 80%;
    }
  }